.publish {
  position: relative;
}

.ant-upload-list {
  .ant-upload-list-picture-card-container,
  .ant-upload-select {
    width: 146px;
    height: 146px;
  }
}
.publish-quill {
  //在其他第三方组件中修改样式也是这个道理，先找到对应的盒子名称，然后加一个自己的类名
  .ql-editor {
    min-height: 300px;
  }
}
